{
    "dog_diary_keyword": ["舔狗日记","舔狗日常"],
    "joke_keyword": ["笑话","讲个笑话","来个笑话","来点笑话"],
    "moyu_keyword": ["摸鱼","摸鱼日历"],
    "acg_keyword": ["二次元老婆","ACG美图","acg美图","纸片人老婆","动漫图"],
    "pixiv_keyword": ["pixiv"],
    "young_girl_keyword": ["小姐姐"],
    "beautiful_keyword": ["美女"],
    "chongbuluo_keyword": ["虫部落热搜"],
    "kfc_keyword":["肯德基","kfc","KFC","疯狂星期四"],
    "wyy_keyword":["网抑云", "wyy"],
    "newspaper_keyword": ["日报","早报","速读报","快报"],
    "fortune_keyword":["运势"],
    "draw_card_keyword":["抽卡"],
    "tarot_single_keyword":["抽牌", "抽一张牌"],
    "tarot_three_keyword":["三牌阵","三张牌阵","过去-现在-未来阵"],
    "tarot_cross_keyword":["凯尔特十字","凯尔特十字牌阵","十字牌阵","十字阵"],
    "huang_li_keyword":["黄历","老黄历","今日黄历","黄历查询"],
    "zwlq_chou_qian_keyword": ["抽签","抽签查询","抽签结果", "每日一签"],
    "zwlq_jie_qian_keyword":["解签","解签查询","解签结果"],
    "dytj_gua_tu_keyword":["卦图"],
    "dytj_daily_gua_tu_keyword":["每日一卦"],
    "hot_search_keyword":["热搜"],
    "hot_search_baidu_keyword":["百度热搜"],
    "hot_search_weibo_keyword":["微博热搜"],
    "ai_find_keyword":["搜索", "搜一下", "查一下", "AI搜索", "ai搜索"],
    "ai_draw_keyword":["画一个","画个", "画一下", "画一张", "画一张", "画一幅", "画一只", "画一头"],
    "mei_hua_yi_shu_keyword":["算算", "算一算","算一卦","卜卦","算一下","来一卦", "开一卦"]
}